.menu__link {
  grid-area: menu;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 30px;
  padding-right: 30px;

  .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;

    &__content {
      display: none;
      position: absolute;
      background-color: #333;
      color: white;
      min-width: 200px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      top: 120%;
      left: 0px;
    }
  }
  &:hover .dropdown-content {
    display: block;
  }
}
@media (max-width: 1024px) {
  .menu__link {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 650px) {
  .menu__link {
    display: none;
  }
}
